// charter header styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // charter variables.
@import "../mixins";                      // charter mixins.
// -----------------------------------------------------------------------------

/* Insert your charter header custom SASS styling. */

header.navbar {
  font-size: 1.2rem;
}

.navbar-brand {
  padding: 0;
  a {
    padding: 0;
    img {
      width: auto;
      height: 100px;
    }
  }
}
