// lime_doc base, which Bootstrap overrides.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // lime_doc variables.
@import "../mixins";                      // lime_doc mixins.
// -----------------------------------------------------------------------------

/* Insert your lime_doc base overrides over Vartheme BS4 and Bootstrap */

.navbar-brand {
  display: block;
  max-width: 300px;
}
.highlighted {
  background-color: $gray-100;
}
h1.title {
  padding: 2rem 0;
  margin-bottom: 0;
}

.bar-header {
  color: white;
  background: $primary;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 100;
  margin: 0 0 3rem;
}
