// lime_doc base, which Bootstrap overrides.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // lime_doc variables.
@import "../mixins";                      // lime_doc mixins.
// -----------------------------------------------------------------------------

/* Insert your lime_doc base overrides over Vartheme BS4 and Bootstrap */

.navbar-brand {
  display: block;
  max-width: 300px;
}
.highlighted {
  background-color: $gray-100;
}
h1.title {
  padding: 2rem 0 1.5rem;
  margin-bottom: 0;
}

.bar-header {
  color: white;
  background: $primary;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 100;
  margin: 0 0 3rem;
}

.view-chapters {
  .view-display-id-block_1,
  .view-display-id-block_2,
  .view-display-id-block_3,
  .view-display-id-block_4 {
    .view-content > h3 {
      color: white;
      background: $primary;
      text-transform: uppercase;
      padding: 15px;
      font-weight: 300;
      margin-top: 1rem;
    }
  }
}
