// lime_doc base, which Bootstrap overrides.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // lime_doc variables.
@import "../mixins";                      // lime_doc mixins.
// -----------------------------------------------------------------------------

/* Insert your lime_doc base overrides over Vartheme BS4 and Bootstrap */

.navbar-brand {
  display: block;
  max-width: 300px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.7);
  &:focus, &:hover {
    color: rgba(255,255,255,1);
  }
}
.highlighted {
  background-color: $gray-300;
}
.alert-wrapper .alert {
  margin-bottom: 0;
}
h1.title {
  padding: 2rem 0 1.5rem;
  margin-bottom: 0;
}

.bar-header {
  color: white;
  background: $primary;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 100;
  margin: 0 0 3rem;
}

.group-headers-bar {
  h3 {
      color: white;
      background: $primary;
      text-transform: uppercase;
      padding: 15px;
      font-weight: 300;
      margin-top: 1rem;
  }
}

button.moderation-sidebar-link[value="Publish"] {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
button.moderation-sidebar-link[value="Reject Review"] {
  background-color: #e28007 !important;
  border-color: #e28007 !important;
}
#searchModal {
  background-color: rgba(16, 16, 16, 0.67) !important;
  .modal-content {
    background-color: transparent;
    border: none;
    button.close {
      color: white;
    }
  }
  .content.container-inline {
    width: 100%;
  }
  fieldset.form-type-search {
    width: 80%;
    margin-left: 15px;
    input.form-control {
      height: 60px;
      font-size: 30px;
      padding-top: 4px;
    }
  }
  button.js-form-submit {
    height: 60px;
    margin-left: 2px;
  }
}

.field--name-field-comments.comment-wrapper {
  h2.title {
    margin: 2rem 0 0;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    background: $primary;
    font-size: 1rem;
  }
  h2.title.comment-form__title {
    margin: 1rem 0 0;
    padding: 15px;
    text-transform: uppercase;
    color: #222629;
    background: #dee2e5;
    font-size: 1rem;
  }
}
