/* Insert your lime_doc base overrides over Vartheme BS4 and Bootstrap */
.navbar-brand {
  display: block;
  max-width: 300px;
}

.highlighted {
  background-color: #f8f9fa;
}

h1.title {
  margin-bottom: 0;
  padding: 2rem 0 1.5rem;
}

.bar-header {
  margin: 0 0 3rem;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background: #0038a5;
  font-weight: 100;
}

.view-chapters .view-display-id-block_1 .view-content > h3,
.view-chapters .view-display-id-block_2 .view-content > h3,
.view-chapters .view-display-id-block_3 .view-content > h3,
.view-chapters .view-display-id-block_4 .view-content > h3 {
  margin-top: 1rem;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background: #0038a5;
  font-weight: 300;
}
