.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

/* Insert your charter header custom SASS styling. */
header.navbar
{
    font-size: 1.2rem;

    padding: 0 30px;
}

@media screen and (min-width: 768px)
{
    header.navbar
    {
        padding: inherit;
    }
}

.page-header .addtoany_list
{
    display: inline-block;

    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.page-header .addtoany_list a
{
    float: right;

    text-decoration: none;

    border-bottom: none;
}
