.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

/* Insert your charter header custom SASS styling. */
header.navbar
{
    font-size: 1.2rem;
}

.navbar-brand
{
    padding: 0;
}

.navbar-brand a
{
    padding: 0;
}

.navbar-brand a img
{
    width: auto;
    height: 100px;
}
