/* ==========================================================================
	Home Pillars
============================================================================= */
.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

.page_layout_home
{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.page-node-3 .node__content
{
    margin-top: 0;
}

.page-node-3 .dialog-off-canvas-main-canvas > div:first-child
{
    display: none;
}

.page-node-3 .mh-1000 .background-local-video
{
    min-height: 615px !important;
}

.pillars-custom
{
    -webkit-box-shadow: 10px 10px 400px 200px rgba(0, 0, 0, .16) inset;
       -moz-box-shadow: 10px 10px 400px 200px rgba(0, 0, 0, .16) inset;
            box-shadow: 10px 10px 400px 200px rgba(0, 0, 0, .16) inset;
}

.pillars-custom::before
{
    position: absolute;
    z-index: 1;
    left: -140%;

    width: 5000px;
    height: 5000px;
    margin-top: 0;
    padding: 0 1000px 3000px 600px;

    transition: all .5s ease;
    transform: skew(0deg, 70deg);

    background: rgba(0, 56, 165, .4);
}

.pillars-custom.column-one-active::before
{
    left: -133%;
}

.pillars-custom.column-two-active::before
{
    left: -100%;
}

.pillars-custom.column-three-active::before
{
    left: -59%;
}

body.full-nav .home_pillars_background
{
    position: absolute !important;
    left: -65%;
}

.home_pillars
{
    position: relative;

    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.home_pillars_inner
{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.logo_icon .logo_link_label
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.logo_icon .logo_link_label.focusable:active,
.logo_icon .logo_link_label.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

@media screen and (min-width: 980px)
{
    .home_pillars_inner
    {
        padding: 70px 30px 70px;

        justify-content: space-between;
    }
}

@media screen and (max-width: 979px)
{
    .home_pillars_inner
    {
        opacity: 1 !important;
    }
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .home_pillars_inner
    {
        padding: 110px 0 25px;
    }
}

.pillars-custom
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;

    width: 100%;

    transform: translateX(-50%);

    background: rgba(0, 56, 165, .8);
}

@supports ((-webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%)) or (clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%)))
{
    .pillars-custom
    {
        padding-top: 50px;

        -webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
    }
}

@media screen and (min-width: 500px)
{
    @supports ((-webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%)) or (clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%)))
    {
        .pillars-custom
        {
            padding-top: 100px;

            -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
                    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
        }
    }
}

@media screen and (min-width: 980px)
{
    .pillars-custom
    {
        position: relative;
        bottom: auto;

        padding-top: 0;

        background: transparent;
        background: linear-gradient(180deg, rgba(0, 0, 0, .494835) 0%, rgba(0, 0, 0, .225928) 10%, rgba(0, 0, 0, 0) 100%);

        -webkit-clip-path: none;
                clip-path: none;
    }
    .no-js #pillars-custom
    {
        background: #0038a5;
    }
}

.home_pillars_logo
{
    display: none;

    transition: opacity .5s ease-in-out;
}

.home_pillars_logo .logo_link
{
    height: 183px;
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .home_pillars_logo .logo_link
    {
        height: 135px;
    }
}

.home_pillars_logo .icon_logo_white
{
    height: 182px;
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .home_pillars_logo .icon_logo_white
    {
        height: 135px;
    }
}

.full-nav .home_pillars_logo
{
    opacity: 0;
}

@media screen and (min-width: 980px)
{
    .home_pillars_logo
    {
        display: block;
    }
}

.home_pillars_sections
{
    width: 100%;

    will-change: transform;
}

@media screen and (min-width: 980px)
{
    .full-nav .home_pillars_sections
    {
        transition: transform .75s cubic-bezier(.455, .03, .515, .955);
        transform: translate3d(0, -70%, 0);
    }
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .full-nav .home_pillars_sections
    {
        transform: translate3d(0, -25%, 0);
    }
}

@media screen and (min-width: 980px)
{
    .home_pillars_sections
    {
        position: relative;

        width: calc(100% + 140px);
        padding-top: 300px;

        transition: transform .75s cubic-bezier(.455, .03, .515, .955);
    }
    [data-position=three] .home_pillars_sections
    {
        transform: translate3d(-150px, 0, 0);
    }
    .full-nav [data-position=three] .home_pillars_sections
    {
        transform: translate3d(-150px, -70%, 0);
    }
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .full-nav [data-position=three] .home_pillars_sections
    {
        transform: translate3d(-150px, -25%, 0);
    }
}

.home_pillars_sections_inner
{
    width: 100%;
}

@media screen and (min-width: 980px)
{
    .home_pillars_sections_inner
    {
        position: relative;

        display: flex;
        overflow: hidden;
    }
    .home_pillars_sections_inner:before
    {
        position: absolute;
        top: 90px;
        left: 0;

        display: block;

        width: 100%;
        height: 1px;

        content: '';

        background: rgba(255, 255, 255, .5);
    }
    .home_pillars_sections_inner:after
    {
        position: absolute;
        top: 90px;
        left: 0;

        display: block;

        width: calc(33.3333333333% - 55px);
        height: 1px;

        content: '';
        transition: left .375s ease;

        background: #fff;
    }
    [data-position=one] .home_pillars_sections_inner:after
    {
        left: 0;
    }
    [data-position=two] .home_pillars_sections_inner:after
    {
        left: 50%;

        transform: translateX(-50%);
    }
    [data-position=three] .home_pillars_sections_inner:after
    {
        left: 100%;

        transform: translateX(-100%);
    }
}

@media screen and (min-width: 1220px)
{
    .home_pillars_sections_inner:after
    {
        width: calc(33.3333333333% - 100px);
    }
}

.home_pillar_section
{
    position: relative;

    color: #fff;

    flex: 1;
}

.home_pillar_section:last-of-type
{
    padding-right: 0;
}

@media screen and (min-width: 980px)
{
    .home_pillar_section
    {
        padding-right: 80px;
    }
}

@media screen and (min-width: 1220px)
{
    .home_pillar_section
    {
        padding-right: 146px;
    }
}

.home_pillar_title
{
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.16667;
    line-height: 48px;

    position: relative;

    display: flex;

    margin-top: 0;
    padding: 12px 0;

    border-bottom: 1px solid rgba(255, 255, 255, .5);

    justify-content: space-between;
}

@media screen and (min-width: 740px)
{
    .home_pillar_title
    {
        font-size: 60px;
        font-size: 3.75rem;
    }
}

.home_pillar_title a
{
    color: #fff;
}

@media screen and (min-width: 740px)
{
    .home_pillar_title
    {
        font-size: 36px;
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 979px)
{
    .home_pillar_title
    {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 980px)
{
    .home_pillar_title
    {
        font-size: 60px;
        font-size: 3.75rem;
        line-height: 70px;

        padding: 0;

        border-bottom: none;
    }
}

@media only screen and (min-width: 980px) and (max-height: 900px)
{
    .home_pillar_title
    {
        font-size: 50px;
        font-size: 3.125rem;
    }
}

.pillar_title_link
{
    display: block;

    width: 100%;
}

.pillar_title_link:focus,
.pillar_title_link:hover
{
    text-decoration: none;

    color: white;
}

.pillar_icon
{
    position: absolute;
    right: 0;

    margin-top: 15px;

    transform: rotate(90deg);
    transform-origin: left top;
    pointer-events: none;
}

.pillar_icon .bi-caret-right-fill
{
    display: block;

    width: 22px;
    height: 22px;
}

@media screen and (max-width: 979px)
{
    .home_pillar_section.open .pillar_icon
    {
        transform: rotate(270deg) translate(-15px, -12px);
    }
}

@media screen and (min-width: 980px)
{
    .pillar_icon
    {
        height: 20px;
        margin-top: 25px;

        transition: opacity 1s cubic-bezier(.455, .03, .515, .955);
        transform: none;

        opacity: 0;
    }
    [data-position=one] .pillar_section_1 .pillar_icon
    {
        opacity: 1;
    }
    [data-position=two] .pillar_section_2 .pillar_icon
    {
        opacity: 1;
    }
    [data-position=three] .pillar_section_3 .pillar_icon
    {
        opacity: 1;
    }
    .pillar_icon .icon_caret_right
    {
        width: 13px;
        height: 20px;
    }
}

.home_pillar_inner_content
{
    display: none;
}

@media screen and (min-width: 980px)
{
    .home_pillar_inner_content
    {
        display: block !important;
    }
}

.home_pillar_goal
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5;

    letter-spacing: 1px;
    letter-spacing: .0625rem;
    text-transform: uppercase;
}

@media screen and (min-width: 980px)
{
    .home_pillar_goal
    {
        margin-top: 35px;

        transition: opacity .75s cubic-bezier(.455, .03, .515, .955);

        opacity: 0;
    }
    [data-position=one] .pillar_section_1 .home_pillar_goal
    {
        opacity: 1;
    }
    [data-position=two] .pillar_section_2 .home_pillar_goal
    {
        opacity: 1;
    }
    [data-position=three] .pillar_section_3 .home_pillar_goal
    {
        opacity: 1;
    }
}

.home_pillar_description
{
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
}

@media screen and (min-width: 740px)
{
    .home_pillar_description
    {
        font-size: 20px;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 980px)
{
    .home_pillar_description
    {
        transition: opacity .75s cubic-bezier(.455, .03, .515, .955);

        opacity: .4;
    }
    [data-position=one] .pillar_section_1 .home_pillar_description
    {
        opacity: 1;
    }
    [data-position=two] .pillar_section_2 .home_pillar_description
    {
        opacity: 1;
    }
    [data-position=three] .pillar_section_3 .home_pillar_description
    {
        opacity: 1;
    }
}

.home_pillar_mobile_link
{
    font-size: 14px;
    font-size: .875rem;
    font-size: 14px;
    font-size: 12px;
    font-size: .75rem;
    font-weight: 700;
    font-weight: 700;
    line-height: 1.5;
    line-height: 1.5;

    display: inline-flex;

    margin-bottom: 10px;
    padding: 7px 22px 8px;

    cursor: pointer;
    transition: background .25s, border .25s, box-shadow .25s, color .25s, transform .25s;
    letter-spacing: 1px;
    letter-spacing: .0625rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-transform: uppercase;

    color: #222;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.large .home_pillar_mobile_link
{
    padding: 11px 32px 12px;
}

.home_pillar_mobile_link:focus,
.home_pillar_mobile_link:hover
{
    color: #fff;
    background: #222;
}

@media screen and (min-width: 980px)
{
    .home_pillar_mobile_link
    {
        display: none;
    }
}

.home_pillar_mobile_link_label
{
    margin-right: 12px;
}

.home_pillar_mobile_link_icon
{
    position: relative;
    top: 3px;
}

.video_cta_pause
{
    display: flex;

    justify-content: space-between;
    align-content: flex-end;
}

.home_pillars_mobile_pause_inner
{
    position: relative;
}

.video_pause
{
    position: absolute;
    top: 152px;
    right: 0;

    display: none;

    width: 30px;
    height: 24px;

    transition: background-color .375s ease, width .375s ease;
    transform: skew(25deg);

    background: rgba(255, 255, 255, .3);

    will-change: transform;
}

@media screen and (min-width: 980px)
{
    .video_pause
    {
        display: block;
    }
}

.full-nav .video_pause
{
    display: none !important;
}

.video_pause button
{
    display: block;

    width: 100%;
    height: 100%;
}

.video_pause:hover
{
    width: 240px;

    background: #4b2e84;
}

.video_pause:hover .video_pause_label
{
    visibility: visible;

    opacity: 1;
}

.video_pause.paused
{
    width: 240px;

    background: #4b2e84;
}

.video_pause.paused .video_pause_label
{
    visibility: visible;

    opacity: 1;
}

.video_pause.paused .icon_pause
{
    display: none;
}

.video_pause.paused .icon_caret_right
{
    display: block;
}

.video_pause .video_pause_label
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5;

    position: absolute;
    top: 1px;
    left: 26px;

    visibility: hidden;

    width: 206px;

    transition: opacity .25s ease;
    transition-delay: .325s;
    transform: skew(-25deg);
    letter-spacing: 1px;
    letter-spacing: .0625rem;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    will-change: transform;
}

.video_pause .icon_pause
{
    position: relative;
    top: -1px;
    left: 10px;

    transition: left .375s ease;
    transform: skew(-25deg) translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: transform;
}

.video_pause .icon_caret_right
{
    position: relative;
    top: -1px;
    left: 10px;

    display: none;

    transform: skew(-25deg) translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    fill: #fff;
    will-change: transform;
}

.mobile_video_cta
{
    position: relative;

    display: inline-flex;

    height: 71px;
    padding: 24px 0 24px 30px;
}

@media screen and (min-width: 980px)
{
    .mobile_video_cta
    {
        height: auto;
        padding: 0 0 0 30px;
    }
}

.mobile_video_cta_icon
{
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 12px;

    pointer-events: none;
}

@media screen and (min-width: 980px)
{
    .mobile_video_cta_icon
    {
        top: 0;
    }
}

.mobile_video_cta_icon .icon_caret_right
{
    position: relative;
    top: 4px;

    height: 14px;

    fill: #fff;
}

.mobile_video_cta_link
{
    position: relative;

    margin-left: -30px;
}

.mobile_video_cta_link:hover .mobile_video_cta_label:after
{
    width: 100%;
}

.mobile_video_cta_label
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5;

    display: block;

    padding: 1px 0;
    padding-right: 10px;
    padding-left: 36px;

    letter-spacing: 1px;
    letter-spacing: .0625rem;
    text-transform: uppercase;

    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    will-change: transform;
}

.mobile_video_cta_label:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 28px;
    height: 100%;

    content: '';
    transition: width .25s ease;
    transform: skew(25deg);

    background: #000;
}

.home_pillars_background
{
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 0;

    display: none;

    width: 150vw;
    height: 100%;

    transition: transform .75s cubic-bezier(.455, .03, .515, .955);
    transform: translate3d(-99vw, -50%, 0);

    opacity: .8;
    background: rgba(75, 46, 132, .9);
    background: transparent url('/themes/custom/charter/images/pillars_bg.svg') no-repeat;
    background-position: right center;
    background-size: cover;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform;
}

@media screen and (min-width: 980px)
{
    .home_pillars_background
    {
        display: block;
    }
}

[data-position=one] .home_pillars_background
{
    transform: translate3d(-88vw, -50%, 0);
}

@media screen and (min-width: 1220px)
{
    [data-position=one] .home_pillars_background
    {
        transform: translate3d(-95vw, -50%, 0);
    }
}

@media only screen and (min-width: 1300px)
{
    [data-position=one] .home_pillars_background
    {
        transform: translate3d(-95vw, -50%, 0);
    }
}

@media only screen and (min-width: 1600px)
{
    [data-position=one] .home_pillars_background
    {
        transform: translate3d(-95vw, -50%, 0);
    }
}

@media only screen and (min-width: 1800px)
{
    [data-position=one] .home_pillars_background
    {
        transform: translate3d(-93vw, -50%, 0);
    }
}

@media only screen and (min-width: 2250px)
{
    [data-position=one] .home_pillars_background
    {
        transform: translate3d(-90vw, -50%, 0);
    }
}

.full-nav [data-position=one] .home_pillars_background
{
    transform: translate3d(0vw, -50%, 0);
}

[data-position=two] .home_pillars_background
{
    transform: translate3d(-54vw, -50%, 0);
}

@media screen and (min-width: 1220px)
{
    [data-position=two] .home_pillars_background
    {
        transform: translate3d(-59vw, -50%, 0);
    }
}

@media screen and (min-width: 1420px)
{
    [data-position=two] .home_pillars_background
    {
        transform: translate3d(-64vw, -50%, 0);
    }
}

@media only screen and (min-width: 1600px)
{
    [data-position=two] .home_pillars_background
    {
        transform: translate3d(-68vw, -50%, 0);
    }
}

@media only screen and (min-width: 1800px)
{
    [data-position=two] .home_pillars_background
    {
        transform: translate3d(-70vw, -50%, 0);
    }
}

@media only screen and (min-width: 2250px)
{
    [data-position=two] .home_pillars_background
    {
        transform: translate3d(-72vw, -50%, 0);
    }
}

.full-nav [data-position=two] .home_pillars_background
{
    transform: translate3d(0vw, -50%, 0);
}

[data-position=three] .home_pillars_background
{
    transform: translate3d(-34vw, -50%, 0);
}

@media screen and (min-width: 1220px)
{
    [data-position=three] .home_pillars_background
    {
        transform: translate3d(-36vw, -50%, 0);
    }
}

@media only screen and (min-width: 1300px)
{
    [data-position=three] .home_pillars_background
    {
        transform: translate3d(-37vw, -50%, 0);
    }
}

@media only screen and (min-width: 1600px)
{
    [data-position=three] .home_pillars_background
    {
        transform: translate3d(-45vw, -50%, 0);
    }
}

@media only screen and (min-width: 1800px)
{
    [data-position=three] .home_pillars_background
    {
        transform: translate3d(-55vw, -50%, 0);
    }
}

.full-nav [data-position=three] .home_pillars_background
{
    transform: translate3d(0vw, -50%, 0);
}

.no-js .home_pillars_background
{
    display: none;
}
