.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

@media screen and (min-width: 768px)
{
    .navbar-nav.ml-auto .dropdown-menu
    {
        right: 0;
        left: auto;

        transform: translateX(33%);
    }
}

[dir='rtl'] .navbar-nav.ml-auto .dropdown-menu
{
    right: auto;
    left: 0;
}

@media screen and (min-width: 576px) and (min-width: 768px)
{
    .navbar-nav.ml-sm-auto .dropdown-menu
    {
        right: 0;
        left: auto;

        transform: translateX(33%);
    }
}

@media (min-width: 576px)
{
    [dir='rtl'] .navbar-nav.ml-sm-auto .dropdown-menu
    {
        right: auto;
        left: 0;
    }
}

@media screen and (min-width: 768px) and (min-width: 768px)
{
    .navbar-nav.ml-md-auto .dropdown-menu
    {
        right: 0;
        left: auto;

        transform: translateX(33%);
    }
}

@media (min-width: 768px)
{
    [dir='rtl'] .navbar-nav.ml-md-auto .dropdown-menu
    {
        right: auto;
        left: 0;
    }
}

@media screen and (min-width: 992px) and (min-width: 768px)
{
    .navbar-nav.ml-lg-auto .dropdown-menu
    {
        right: 0;
        left: auto;

        transform: translateX(33%);
    }
}

@media (min-width: 992px)
{
    [dir='rtl'] .navbar-nav.ml-lg-auto .dropdown-menu
    {
        right: auto;
        left: 0;
    }
}

@media screen and (min-width: 1200px) and (min-width: 768px)
{
    .navbar-nav.ml-xl-auto .dropdown-menu
    {
        right: 0;
        left: auto;

        transform: translateX(33%);
    }
}

@media (min-width: 1200px)
{
    [dir='rtl'] .navbar-nav.ml-xl-auto .dropdown-menu
    {
        right: auto;
        left: 0;
    }
}

#navbar-main
{
    z-index: 1;
}

@media screen and (min-width: 980px)
{
    .nav-item .nav-link
    {
        position: relative;

        transition: color .325s ease;
    }
    .nav-item .nav-link::after
    {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        content: '';
        transition: width .325s ease;

        border: none;
        background: #0038a5;
    }
    .nav-item .nav-link:focus,
    .nav-item .nav-link:hover
    {
        color: #0038a5;
    }
    .nav-item .nav-link:focus::after,
    .nav-item .nav-link:hover::after
    {
        width: 100% !important;
    }
}

.dropdown-menu .dropdown-item.active a,
.dropdown-menu .dropdown-item:active
{
    text-decoration: none;

    color: #fff !important;
    background-color: #0038a5 !important;
}

ul.nav.navbar-nav span.nav-link
{
    cursor: pointer;
}
