.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

input[type='search']
{
    box-sizing: border-box;
}

header #search-block-form
{
    padding: .3125rem .9375rem;

    flex-flow: row wrap;
}

#search-block-form
{
    display: flex;
}
