.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

.facts-and-stats-view .slide__caption {
  position: absolute;
  top: 5%;
  right: 5%;
  left: auto;
  width: 40%;
  height: 90%;
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  color: white;
  background-color: rgba(0, 56, 165, 0.9);

  -o-user-select: text;
}

.facts-and-stats-view .slide__caption .slide__description {
  position: absolute;
  top: 50%;
  right: 52%;
  width: 80%;
  -webkit-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.facts-and-stats-view .slide__caption .slide__description .topic_link {
  background: #ff6d2c;
}

.facts-and-stats-view .caption-top .slide__caption {
  top: 4%;
  bottom: auto;
  left: 10%;
  width: 80%;
  height: 39%;
}

.facts-and-stats-view .caption-bottom .slide__caption {
  top: auto;
  bottom: 4%;
  left: 5%;
  width: 90%;
  height: 35%;
}

.facts-and-stats-view .caption-left .slide__caption {
  right: auto;
  left: 5%;
}

.facts-and-stats-view .caption-bottom-left .slide__caption {
  top: auto;
  bottom: 4%;
  left: 5%;
  width: 60%;
  height: 30%;
}

.facts-and-stats-view .caption-top-left .slide__caption {
  top: 5%;
  bottom: auto;
  width: 70%;
}

.facts-and-stats-view .caption-top-right .slide__caption {
  top: 5%;
  right: 5%;
  bottom: auto;
  left: auto;
  width: 70%;
}

.facts-and-stats-view .caption-orange .slide__caption {
  background-color: rgba(255, 109, 44, 0.9);
}

.facts-and-stats-view .caption-orange .slide__caption .topic_link {
  background: #0038a5;
}
