.font-size-lg
{
    font-size: 1.375rem;
}

.font-size-sm
{
    font-size: .9625rem;
}

.form-textarea-wrapper textarea
{
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
