// File component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // blue_harvest variables.
@import "../mixins";                      // blue_harvest mixins.
// -----------------------------------------------------------------------------

// File icons.

.file {
  padding-left: ($spacer * 1.5);
  /* LTR */
  display: inline-block;
  @include rfs($font-size-base, min-height);
  background-repeat: no-repeat;
  background-position: left center;
  /* LTR */
}

[dir="rtl"] .file {
  padding-left: inherit;
  padding-right: ($spacer * 1.5);
  background-position: right center;
}

.file--link-pdf {
  a {
    &:before {
      content: "";
      background: url(../../images/icons/icon-pdf.svg) no-repeat;
      background-size: 18px;
      width: 19px;
      height: 21px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 3px;
    }
  }
}

.file--general,
.file--application-octet-stream {
  background-image: url(../../images/icons/application-octet-stream.png);
}

.file--package-x-generic {
  background-image: url(../../images/icons/package-x-generic.png);
}

.file--x-office-spreadsheet {
  background-image: url(../../images/icons/x-office-spreadsheet.png);
}

.file--x-office-document {
  background-image: url(../../images/icons/x-office-document.png);
}

.file--x-office-presentation {
  background-image: url(../../images/icons/x-office-presentation.png);
}

.file--text-x-script {
  background-image: url(../../images/icons/text-x-script.png);
}

.file--text-html {
  background-image: url(../../images/icons/text-html.png);
}

.file--text-plain {
  background-image: url(../../images/icons/text-plain.png);
}

.file--application-pdf {
  background-image: url(../../images/icons/application-pdf.png);
}

.file--application-x-executable {
  background-image: url(../../images/icons/application-x-executable.png);
}

.file--audio {
  background-image: url(../../images/icons/audio-x-generic.png);
}

.file--video {
  background-image: url(../../images/icons/video-x-generic.png);
}

.file--text {
  background-image: url(../../images/icons/text-x-generic.png);
}

.file--image {
  background-image: url(../../images/icons/image-x-generic.png);
}



.file {
  display: table;
  font-size: 75%;
  font-weight: 700;
  margin: 5px 0;
  width: 100%;
  > span {
    background: #fff;
    color: $primary;
    border-bottom: 1px solid $custom-file-border-color;
    border-top: 1px solid $custom-file-border-color;
    &:first-child {
      border-left: 1px solid $custom-file-border-color;
    }
    &:last-child {
      border-right: 1px solid $custom-file-border-color;
    }
  }
  > .tabledrag-changed {
    &, &:last-child {
      border: 1px solid darken($custom-file-border-color, 5%);
    }
    background: inherit;
    border-radius: 0;
    color: $primary;
    display: table-cell;
    padding: 0 1em;
    top: 0;
    vertical-align: middle;
    border-left: 1px solid inherit;
  }
}
.file-icon {
  display: table-cell;
  font-size: 150%;
  padding: .25em .5em;
  text-align: center;
  vertical-align: middle;
}
.file-link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  a, a:hover, a:focus, a:active {
    color: inherit;
  }
}
.file-size {
  display: table-cell;
  padding: 0 1em;
  text-align: right;
  white-space: pre;
  vertical-align: middle;
}
