// Header component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // blue_harvest variables.
@import "../mixins";                      // blue_harvest mixins.
// -----------------------------------------------------------------------------

.navbar-brand {
  img {
    width: 300px;
  }
}
.navigation.menu--main, .navigation.menu--_75-and-growing {
  width: 100%;
  ul.nav {
    float: right;
  }
}
#navbar-main {
  z-index: 2;
}
.large-menu {
  li.nav-item {
    margin-right: 60px;
    position: relative;
    &::after {
      width: 3px;
      height: 43px;
      position: absolute;
      top: 9px;
      right: -33px;
      display: block;
      background: rgba(167, 169, 172, 0.3);
      content: '';
      -webkit-transform: rotate(-25deg);
      transform: rotate(-25deg);
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
    a.nav-link {
      display: inline-block;
      vertical-align: top;
      color: #000000;
      font-size: 40px;
      font-size: 2.5rem;
      font-weight: 300;
      position: relative;
      -webkit-transition: color 0.325s ease;
      transition: color 0.325s ease;
      @media screen and (min-width: 980px) {
        padding-bottom: 20px;
        padding-top: 0;
      }

      &::after {
        width: 0px;
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $blue;
        content: '';
        -webkit-transition: width 0.325s ease;
        transition: width 0.325s ease;
        @media screen and (min-width: 980px) {
          bottom: 16px;
        }
      }
    }
  }
}

#navbar-top {
  @include padding(0 1rem);
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
  @include margin-right(1rem);
}

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}
