/* ==========================================================================
	Home Pillars
============================================================================= */

// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // lime_doc variables.
@import "../mixins";                      // lime_doc mixins.
// -----------------------------------------------------------------------------
/* ==========================================================================
   Pillar Header
============================================================================= */

.pillar_header {
  overflow: hidden;
}

.pillar_header_media {
  padding-top: 200px;
}


.pillar_header_content {
  position: relative;
  background: rgba(0, 175, 215, 0.65);
  -webkit-clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
  padding-top: 80px;
  z-index: 1;

  &.theme_blue {
    background: rgba(0, 56, 165, 0.65);
    color: #ffffff;
  }

  &.theme_purple {
    background: rgba(75, 46, 132, 0.65);
    color: #ffffff;
    .pillar_header_cta_label {
      color: #ffffff;
    }
  }

  &.theme_orange {
    background: rgba(255, 94, 0, 0.65);
  }

  &.theme_green {
    background: rgba(120, 190, 32, 0.65);
  }

  &.theme_yellow {
    background: rgba(255, 217, 0, 0.65);
  }

  &.theme_black {
    background: rgba(34, 34, 34, 0.65);

    .pillar_header_cta_label {
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 739px) {
  .pillar_header_content {
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .preload .pillar_header_content {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@media screen and (min-width: 500px) {
  .pillar_header_content {
    -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
    padding-top: 120px;
  }
}

@media screen and (min-width: 740px) {
  .pillar_header_content {
    background: transparent !important;
    -webkit-clip-path: none;
    clip-path: none;
    padding-top: 0px;
    //margin-left: -140px;
    &:before {
      width: 1000px;
      height: 100%;
      display: block;
      position: absolute;
      right: calc(100% - ((100% - 300px) / 2));
      top: 0;
      background: rgba(0, 175, 215, 0.65);
      content: '';
    }
  }
}

@media screen and (min-width: 740px)  {
  .pillar_header_content:before {
    right: calc(100% - ((100% - 768px) / 2));
  }

}

@media screen and (min-width: 992px) {
  .pillar_header_content:before {
    right: calc(100% - ((100% - 960px) / 2));
  }
}

@media screen and (min-width: 1220px) {
  .pillar_header_content:before {
    right: calc(100% - ((100% - 1140px) / 2));
  }
}

@media only screen and (min-width: 1300px) {
  .pillar_header_content:before {
    right: calc(100% - ((100% - 1140px) / 2));
  }
}

@media screen and (min-width: 740px) {
  .pillar_header_content {
    &.theme_blue:before {
      background: rgba(0, 56, 165, 0.65);
    }

    &.theme_purple:before {
      background: rgba(75, 46, 132, 0.65);
    }

    &.theme_orange:before {
      background: rgba(255, 94, 0, 0.65);
    }

    &.theme_green:before {
      background: rgba(120, 190, 32, 0.65);
    }

    &.theme_yellow:before {
      background: rgba(255, 217, 0, 0.65);
    }

    &.theme_black:before {
      background: rgba(34, 34, 34, 0.65);
    }
  }
}

.pillar_heading {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 500px) {
  .pillar_heading {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 740px) {
  .pillar_heading {
    margin-bottom: 70px;
  }
}

.pillar_header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 50px;
}

@media screen and (min-width: 740px) {
  .pillar_header_inner {
    height: auto;
    display: block;
    background: rgba(0, 175, 215, 0.65);
    -webkit-clip-path: polygon(0 0, calc(100% - 250px) 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% - 250px) 0, 100% 100%, 0% 100%);
    padding: 342px 0 47px;
  }

  .pillar_header_content {
    &.theme_blue .pillar_header_inner {
      background: rgba(0, 175, 215, 0.65);
    }

    &.theme_purple .pillar_header_inner {
      background: rgba(75, 46, 132, 0.65);
    }

    &.theme_orange .pillar_header_inner {
      background: rgba(255, 94, 0, 0.65);
    }

    &.theme_green .pillar_header_inner {
      background: rgba(120, 190, 32, 0.65);
    }

    &.theme_yellow .pillar_header_inner {
      background: rgba(255, 217, 0, 0.65);
    }

    &.theme_black .pillar_header_inner {
      background: rgba(34, 34, 34, 0.65);
    }
  }
}

@media screen and (min-width: 980px) {
  .pillar_header_inner {
    -webkit-clip-path: polygon(0 0, calc(75% - 250px) 0, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(75% - 250px) 0, 75% 100%, 0% 100%);
  }
}

@media screen and (min-width: 1220px) {
  .pillar_header_inner {
    -webkit-clip-path: polygon(0 0, calc(60% - 250px) 0, 60% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(60% - 250px) 0, 60% 100%, 0% 100%);
  }
}

@media only screen and (min-width: 1600px) {
  .pillar_header_inner {
    padding: 450px 0 47px;
  }
}

.pillar_header_headline {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.16667;
  color: #222;
  font-weight: 900;
  margin-bottom: 16px;
  margin-top: 0;
}

@media screen and (min-width: 740px) {
  .pillar_header_headline {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.pillar_header_description {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.16667;
  color: #222;
}

@media screen and (min-width: 740px) {
  .pillar_header_description {
    font-size: 60px;
    font-size: 3.75rem;
    width: 125%;
    display: inline-block;
  }
}

.pillar_header_cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.pillar_header_link {
  will-change: transform;

  &:hover .pillar_header_cta_label {
    color: #ffffff;
  }
}

.pillar_header_content {
  &.theme_purple .pillar_header_link:hover .pillar_header_cta_label, &.theme_black .pillar_header_link:hover .pillar_header_cta_label {
    color: rgba(255, 255, 255, 0.6);
  }
}

@-webkit-keyframes icon_hop {
  0% {
    top: 3px;
  }

  17% {
    top: -2px;
  }

  34% {
    top: 3px;
  }

  51% {
    top: -2px;
  }

  68% {
    top: 3px;
  }

  85% {
    top: -2px;
  }

  100% {
    top: 3px;
  }
}

@keyframes icon_hop {
  0% {
    top: 3px;
  }

  17% {
    top: -2px;
  }

  34% {
    top: 3px;
  }

  51% {
    top: -2px;
  }

  68% {
    top: 3px;
  }

  85% {
    top: -2px;
  }

  100% {
    top: 3px;
  }
}

.pillar_header_icon {
  -webkit-animation: icon_hop 2.5s ease-in-out;
  animation: icon_hop 2.5s ease-in-out;
  margin-right: 8px;
  position: relative;
  top: 3px;
  will-change: transform;
}

.pillar_header_cta_label {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  &:before {
    display: inline-block;
    margin-right: 0.4em;
    position: relative;
    top: 2px;
    content: "";
    vertical-align: 0.255em;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
  }
}
