// Icons component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // blue_harvest variables.
@import "../mixins";                      // blue_harvest mixins.
// -----------------------------------------------------------------------------

.facts-and-stats-view {
  .slide__caption {
    cursor: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    position: absolute;
    width: 50%;
    right: 0;
    left: auto;
    height: 100%;
    top: 0;
    color: white;
    background-color: rgba(0, 56, 165, 0.9);
    .slide__description {
      position: absolute;
      top: 50%;
      right: 52%;
      transform: translate(50%,-50%);
      width: 80%;
      .topic_link {
        background: #ff6d2c;
      }
    }
  }
}

