.home_pillars {
  position: relative;
  height: 100vh;
  height: calc(var(--vh,1vh) * 100);
}

.home_pillars_inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.home_pillars_logo {
  display: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.home_pillars_logo .logo_link {
  width: 408px;
  height: 183px;
}

.home_pillars_sections {
  width: 100%;
  will-change: transform;
}

.home_pillars_sections_inner {
  width: 100%;
}

.home_pillar_section {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.home_pillar_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.16667;
  line-height: 48px;
}

.home_pillar_goal {
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}

.home_pillar_description {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
}

.home_pillar_mobile_link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 10px;
  padding: 7px 22px 8px;
  cursor: pointer;
  -webkit-transition: background 0.25s,border 0.25s,color 0.25s,-webkit-box-shadow 0.25s,-webkit-transform 0.25s;
  -o-transition: background 0.25s,border 0.25s,box-shadow 0.25s,color 0.25s,-o-transform 0.25s;
  transition: background 0.25s,border 0.25s,box-shadow 0.25s,color 0.25s,transform 0.25s,-webkit-box-shadow 0.25s,-webkit-transform 0.25s;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  background: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 740px) {
  .home_pillar_title {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .home_pillar_description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 980px) {
  .home_pillars_inner {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100vh;
    padding: 150px 0 70px;
  }
  .home_pillars_logo {
    display: block;
  }
  .home_pillars_sections {
    position: relative;
    width: calc(100% + 140px);
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: -o-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955), -o-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .home_pillars_sections_inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
  }
  .home_pillar_section {
    padding-right: 80px;
  }
  .home_pillar_title {
    padding: 0;
    border-bottom: none;
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 70px;
  }
  .home_pillar_inner_content {
    display: block !important;
  }
  .home_pillar_goal {
    -webkit-transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
  }
  .home_pillar_description {
    -webkit-transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0.4;
  }
  .home_pillar_mobile_link {
    display: none;
  }
}

@media screen and (min-width: 1220px) {
  .home_pillar_section {
    padding-right: 146px;
  }
}
