.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

/* ==========================================================================
   Flexible Callout
============================================================================= */
.flex_callout {
  position: relative;
  padding-bottom: 320px;
}

.flex_callout .col-lg-4 {
  padding-left: 115px;
  color: white;
  background-color: #222;
}

.flex_callout .col-lg-4:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.flex_callout:last-child {
  margin-bottom: 0;
}

.page_layout_home .flex_callout {
  z-index: 2;
}

.flex_callout.emphasized {
  padding-bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #222;
}

@media screen and (min-width: 500px) {
  .flex_callout {
    padding-bottom: 450px;
  }
}

@media screen and (min-width: 980px) {
  .flex_callout {
    padding-bottom: 0;
  }
}

.flex_callout_emphasized_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.flex_callout_background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;

  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
}

.flex_callout_background .fs-background-media {
  height: 100%;
}

.flex_callout_background .fs-background-media .align-center {
  height: 100%;
}

.flex_callout_background .fs-background-media .blazy {
  min-width: 100%;
  height: 100%;
}

.flex_callout.emphasized .flex_callout_background {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-clip-path: none;
  clip-path: none;
}

@media print {
  .flex_callout_background {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .flex_callout_background {
    height: 450px;
  }
  .flex_callout_background .field--name-field-media-image {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  .flex_callout_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 60%;
    height: 100%;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.flex_callout_wrapper {
  position: relative;
  padding: 45px 0 25px;
}

.flex_callout.emphasized .flex_callout_wrapper {
  z-index: 4;
  height: 100%;
  padding: 85px 0 102px;
}

@media screen and (min-width: 500px) {
  .flex_callout.emphasized .flex_callout_wrapper {
    padding: 100px 0 122px;
  }
}

@media screen and (min-width: 980px) {
  .flex_callout.emphasized .flex_callout_wrapper {
    padding: 128px 0 148px;
  }
}

@media screen and (min-width: 500px) {
  .flex_callout_wrapper {
    padding: 80px 0 45px;
  }
}

@media screen and (min-width: 980px) {
  .flex_callout_wrapper {
    padding: 160px 0 165px;
  }
}

@media print {
  .flex_callout_wrapper {
    padding: 0;
  }
}

.flex_callout_meta {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex_callout.emphasized .flex_callout_meta {
  margin-bottom: 14px;
}

.flex_callout_title {
  margin: 0 0 16px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.25;
}

.flex_callout_title strong {
  font-weight: 900;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 740px) {
  .flex_callout_title {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.flex_callout.emphasized .flex_callout_title {
  display: block;
  margin-bottom: 3px;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 740px) {
  .flex_callout.emphasized .flex_callout_title {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.flex_callout_subheading {
  display: block;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.25;
}

@media screen and (min-width: 740px) {
  .flex_callout_subheading {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.flex_callout_description {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex_callout_description p {
  margin: 0;
}

@media screen and (min-width: 740px) {
  .flex_callout_description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.flex_callout_links {
  margin-top: 26px;
}

@media print {
  .flex_callout_links {
    display: none;
  }
}

.flex_callout.emphasized .flex_callout_links {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  .flex_callout.emphasized .flex_callout_links {
    margin-top: 48px;
  }
}

.flex_callout_link {
  display: inline-block;
  padding: 7px 22px 8px;
  cursor: pointer;
  -webkit-transition: background 0.25s, border 0.25s, color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  -o-transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, -o-transform 0.25s;
  transition: background 0.25s, border 0.25s, color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #fff;
  background: #4b2e84;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large .flex_callout_link {
  padding: 11px 32px 12px;
}

.flex_callout_link:focus,
.flex_callout_link:hover {
  color: #fff;
  background: #000;
}

.flex_callout.theme_dark .flex_callout_link:hover {
  color: #222;
  background: #fff;
}

.flex_callout.emphasized .flex_callout_link {
  margin-right: 13px;
  margin-bottom: 13px;
}

.flex_callout.emphasized .flex_callout_link:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  .flex_callout.emphasized .flex_callout_link {
    margin-bottom: 0;
  }
}
