.font-size-lg {
  font-size: 1.25rem;
}

.font-size-sm {
  font-size: 0.875rem;
}

.indented {
  margin-left: 1.5rem;
  /* LTR */
}

[dir="rtl"] .indented {
  margin-right: 1.5rem;
  margin-left: 0;
}
