.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

.facts-and-stats-view {
  /*
  .caption-top {
    .slide__caption {
      left: 10%;
      top: 4%;
      bottom: auto;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        height: 39%;
        width: 80%;
      }
    }
  }

  .caption-bottom {
    .slide__caption {

      left: 5%;
      top: auto;
      bottom: 4%;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        height: 35%;
        width: 90%;
      }
    }
  }
  .caption-left {
    .slide__caption {
      right: auto;
      left: 5%;
    }
  }
  .caption-bottom-left {
    .slide__caption {

      left: 5%;
      top: auto;
      bottom: 4%;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        height: 30%;
        width: 60%;
      }
    }
  }
  .caption-top-left {
    .slide__caption {
      bottom: auto;
      top: 5%;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        width: 70%;
        height: 40%;
        left: 5%;
      }
    }
  }
  .caption-top-right {
    .slide__caption {
      bottom: auto;
      top: 5%;
      left: auto;
      right: 5%;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        width: 70%;
      }
    }
  }
  .caption-orange {
    .slide__caption {
      background-color: rgba(255, 109, 44, 0.9);
      .topic_link {
        background: $blue;
      }
    }
  }
  */
}

@media (max-width: 576px) {
  .facts-and-stats-view .slick__slide {
    min-height: 300px;
  }
  .facts-and-stats-view .slick__slide .slide__media {
    width: auto;
    height: 100%;
  }
  .facts-and-stats-view .slick__slide .slide__media .media.media--blazy.media--slick.media--ratio.media--ratio--fluid.media--image.is-b-loaded {
    padding-bottom: 85.25% !important;
  }
  .facts-and-stats-view .slick__slide .slide__caption {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    font-size: 17px;
    line-height: 22px;
  }
}

.facts-and-stats-view .slide__media {
  width: 50%;
}

.facts-and-stats-view .slide__caption {
  position: absolute;
  top: auto;
  right: 4%;
  bottom: 4%;
  left: 46%;
  width: 55%;
  height: 92%;
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  color: white;
  background-color: rgba(0, 56, 165, 0.55);

  -o-user-select: text;
}

@media (min-width: 576px) {
  .facts-and-stats-view .slide__caption {
    top: auto;
    bottom: 4%;
    left: 46%;
    width: 55%;
    height: 92%;
    background-color: rgba(0, 56, 165, 0.9);
  }
}

.facts-and-stats-view .slide__caption .slide__description {
  position: absolute;
  top: 50%;
  right: 52%;
  width: 80%;
  -webkit-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.facts-and-stats-view .slide__caption .slide__description .topic_link {
  background: #ff6d2c;
}
