.font-size-lg {
  font-size: 1.25rem;
}

.font-size-sm {
  font-size: 0.875rem;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5rem;
}
