.font-size-lg {
  font-size: 1.25rem;
}

.font-size-sm {
  font-size: 0.875rem;
}

.form-textarea-wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
