.font-size-lg {
  font-size: 1.375rem;
}

.font-size-sm {
  font-size: 0.9625rem;
}

/* ==========================================================================
	Timeline
============================================================================= */
.timeline_block {
  padding: 30px 0 45px;
  background: #f2f2f3;
}

@media screen and (min-width: 740px) {
  .timeline_block {
    padding: 90px 0 45px;
  }
}

.timeline_block.theme_white {
  background: #fff;
}

.timeline_block_title {
  margin-bottom: 14px;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timeline_block_header {
  margin-bottom: 54px;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .timeline_block_header {
    margin-bottom: 146px;
  }
}

.timeline_block_heading {
  display: block;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (min-width: 740px) {
  .timeline_block_heading {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.timeline_block_subheading {
  display: block;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.25;
}

@media screen and (min-width: 740px) {
  .timeline_block_subheading {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.timeline_items {
  position: relative;
}

.timeline_divider {
  position: absolute;
  z-index: 1;
  top: -70px;
  left: calc(50% - 3px);
  display: none;
  width: 6px;
  height: calc(100% + 140px);
  background: #0038a5;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 56, 165, 0)), color-stop(5%, #0038a5), color-stop(95%, #0038a5), to(rgba(0, 56, 165, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 56, 165, 0) 0%, #0038a5 5%, #0038a5 95%, rgba(0, 56, 165, 0) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 56, 165, 0) 0%, #0038a5 5%, #0038a5 95%, rgba(0, 56, 165, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 56, 165, 0) 0%, #0038a5 5%, #0038a5 95%, rgba(0, 56, 165, 0) 100%);
}

@media screen and (min-width: 740px) {
  .timeline_divider {
    display: block;
  }
}

.timeline_row {
  margin-bottom: 50px;
}

@media screen and (min-width: 740px) {
  .timeline_row {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 980px) {
  .timeline_row {
    margin-bottom: 120px;
  }
}

.timeline_row:last-of-type {
  margin-bottom: 0;
}

.timeline_row:nth-of-type(odd) .timeline_row_inner {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
}

@media screen and (min-width: 740px) {
  .timeline_row:nth-of-type(odd) .timeline_wrapper {
    padding-right: 80px;
    padding-left: 0;
  }
}

.timeline_row:nth-of-type(odd) .timeline_figure:before {
  right: auto;
  left: -17px;
}

@media screen and (min-width: 740px) {
  .timeline_row_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

.timeline_figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 740px) {
  .timeline_figure {
    width: 50%;
  }
}

.timeline_figure img {
  width: 100%;
}

.timeline_figure:before {
  position: absolute;
  z-index: 2;
  top: calc(50% - 17px);
  right: -17px;
  display: none;
  width: 34px;
  height: 34px;
  content: "";
  border-radius: 50%;
}

.timeline_row.theme_blue .timeline_figure:before {
  border: 5px solid #fff;
  background: #00afd7;
}

.timeline_row.theme_purple .timeline_figure:before {
  border: 5px solid #fff;
  background: #4b2e84;
}

.timeline_row.theme_green .timeline_figure:before {
  border: 5px solid #fff;
  background: #fbea65;
}

.timeline_row.theme_yellow .timeline_figure:before {
  border: 5px solid #fff;
  background: #ffd900;
}

.timeline_row.theme_orange .timeline_figure:before {
  border: 5px solid #fff;
  background: #ff5e00;
}

.timeline_block.theme_white .timeline_figure:before {
  border-color: #ccc !important;
}

@media screen and (min-width: 740px) {
  .timeline_figure:before {
    display: block;
  }
}

.timeline_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 740px) {
  .timeline_wrapper {
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    -o-transition: opacity 0.5s ease, -o-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease, -o-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0;
  }
}

.timeline_wrapper.fs-checkpoint-active {
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 740px) {
  .timeline_wrapper {
    width: 50%;
    padding-right: 0;
    padding-left: 80px;
  }
}

.timeline_title {
  margin-top: 20px;
  margin-bottom: 14px;
  color: #222;
  font-size: 22px;
  font-size: 1.375rem;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.33333;
}

@media screen and (min-width: 740px) {
  .timeline_title {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 740px) {
  .timeline_title {
    margin-top: 0;
    font-size: 26px;
    font-size: 1.625rem;
  }
}

@media screen and (min-width: 980px) {
  .timeline_title {
    font-size: 32px;
    font-size: 2rem;
  }
}

.timeline_description {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 740px) {
  .timeline_description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.timeline_description p {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
}

@media screen and (min-width: 740px) {
  .timeline_description p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 980px) {
  .timeline_description p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.timeline_link {
  display: inline-block;
  margin-top: 22px;
  padding: 7px 22px 8px;
  cursor: pointer;
  -webkit-transition: background 0.25s, border 0.25s, color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  -o-transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, -o-transform 0.25s;
  transition: background 0.25s, border 0.25s, color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s, transform 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  border-bottom: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large .timeline_link {
  padding: 11px 32px 12px;
}

.theme_blue .timeline_link {
  color: #222;
  background: #00afd7;
}

.theme_blue .timeline_link:focus,
.theme_blue .timeline_link:hover {
  color: #fff;
  background: #222;
}

.theme_orange .timeline_link {
  color: #222;
  background: #ff5e00;
}

.theme_orange .timeline_link:focus,
.theme_orange .timeline_link:hover {
  color: #fff;
  background: #222;
}

.theme_yellow .timeline_link {
  color: #222;
  background: #ffd900;
}

.theme_yellow .timeline_link:focus,
.theme_yellow .timeline_link:hover {
  color: #fff;
  background: #222;
}

.theme_green .timeline_link {
  color: #222;
  background: #fbea65;
}

.theme_green .timeline_link:focus,
.theme_green .timeline_link:hover {
  color: #fff;
  background: #222;
}

.theme_purple .timeline_link {
  color: #fff;
  background: #4b2e84;
}

.theme_purple .timeline_link:focus,
.theme_purple .timeline_link:hover {
  color: #fff;
  background: #222;
}
